#menu {
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
    padding: 1em;
}

a:hover{
    background-color: green;
    color: whitesmoke;
    font-weight: bold ;
}